
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
      <div class='container'>
          <h1>Vacations</h1>
          <p>
            A vacation is when you take a trip to some @Model.GetAdj1() place
            with your @Model.GetAdj2() family. Usually you go to some place
            that is near a/an @Model.GetNoun1() or up on a/an @Model.GetNoun2().
            A good vacation place is one where you can ride @Model.GetPNoun1()
            or play @Model.GetGame() or go hunting for @Model.GetPNoun2() . I like
            to spend my time @Model.GetVerbIng1() or @Model.GetVerbIng2().
            When parents go on a vacation, they spend their time eating
            three @Model.GetPNoun3() a day, and fathers play golf, and mothers
            sit around @Model.GetVerbIng3(). Last summer, my little brother
            fell in a/an @Model.GetNoun3() and got poison @Model.GetPlant() all
            over his @Model.GetBodyPart(). My family is going to go to (the)
            @Model.GetPlace(), and I will practice @Model.GetVerbIng4(). Parents
            need vacations more than kids because parents are always very
            @Model.GetAdj3() and because they have to work @Model.GetNumber()
            hours every day all year making enough @Model.GetPNoun4() to pay
            for the vacation.
        </p>
    </div>
  </body>
</html>
